Bw5Works/WSDL/Rakesh_WebServiceOp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1601620946613" xmlns:ns0="http://www.tibco.com/schemas/VenkatAssignment/WS2/Schema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1601620946613">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/VenkatAssignment/WS2/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/VenkatAssignment/WS2/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="Input">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Number1" type="xs:string" minOccurs="0"/>
                        <xs:element name="Number2" type="xs:string" minOccurs="0"/>
                        <xs:element name="Action" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Output">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Result" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Service">
        <wsdl:port name="PortTypeEndpoint1" binding="tns:PortTypeEndpoint1Binding">
            <soap:address location="http://localhost:8081/WS2/Service.serviceagent/PortTypeEndpoint1"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType">
        <wsdl:operation name="OpWebService">
            <wsdl:input message="tns:InputRequest"/>
            <wsdl:output message="tns:OutputResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortTypeEndpoint1Binding" type="tns:PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="OpWebService">
            <soap:operation style="document" soapAction="/WS2/Service.serviceagent/PortTypeEndpoint1/OpWebService"/>
            <wsdl:input>
                <soap:body use="literal" parts="InputRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="OutputResponse"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="InputRequest">
        <wsdl:part name="InputRequest" element="ns0:Input"/>
    </wsdl:message>
    <wsdl:message name="OutputResponse">
        <wsdl:part name="OutputResponse" element="ns0:Output"/>
    </wsdl:message>
</wsdl:definitions>